version: "3.9"

services:
  web:
    build: .
    ports:
      - "8081:80"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/ratesdb
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ratesdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: